/*Breadcrumps*/

.breadcrumps-wrapper {
    margin-top: -55px;
    margin-left: -5px;
}

.breadcrumps-item {
    display: inline-block;
}

.breadcrumps-item::before {
    content: '»';
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumps-item:first-child::before {
    content: "";
}

.breadcrumps-item a {
    cursor: url("../img/cursor.svg"), auto;
    text-decoration-color: var(--hover-background-color);
    text-underline-position: under;
}

.breadcrumps-item a:hover {
    color: var(--hover-link-color);
    text-decoration-color: var(--underline-hover-color);
}

.header-catalog-title p {
    font-weight: 700;
    font-size: 35px;
    line-height: 117%;
    color: #FFFFFF;
}

/*Filter*/

.catalog-filter-section {
    width: 870px;
    display: flex;
    flex-wrap: wrap;
}

.catalog-filter-wrapper legend {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #FFFFFF;
}

.catalog-filter-wrapper input {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
}

/*Sorting*/

.sorting-wrapper {
    width: 196px;
    margin-right: 0;
    border: none;
    position: relative;
}

select {
    appearance: none;
}

.sorting-form {
    border-radius: 20px;
    width: 196px;
    height: 36px;
    appearance: none;
    position: relative;
    background-color: var(--hover-background-color);
    color: var(--basic-white);
    border: none;
    padding-left: 16px;
    padding-top: 0px; 
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    cursor: url("../img/cursor.svg"), auto;
}

.sort-arrow-icon {
    position: absolute;
    top: 20px;
    right: 30px;
    fill: var(--basic-white);
}

.sorting-form:focus + .sort-arrow-icon,
.sorting-form:hover + .sort-arrow-icon {
    fill: var(--basic-black);
}

.sorting-form:hover {
    color: black;
}

.sorting-form:focus {
    outline: none;
    color: black;
    background-color: var(--basic-white);
}

/*Price*/

.price-wrapper {
    width: 222px;
    border: none;
    margin-left: 0;
}

.price-range-controls {
    position: relative;
    width: 100%;
    height: 36px;
    background-color: var(--hover-background-color);
    border-radius: 20px;
    padding-top: 7px;
    box-sizing: border-box;
}

.price-scale {
    height: 5px;
    background-color: var(--product-price-filter-scale-background-color);
    margin-top: 9px;
    width: 160px;
    margin-left: 18px;
}

.scale-bar {
    margin-left: 13px;
    margin-right: 45px;
    height: 5px;
    background-color: var(--basic-white);
}

.toggle {
    position: absolute;
    top: -8px;
    width: 4px;
    height: 4px;
    background-color: var(--product-price-color);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    margin-top: 16px;
    cursor: url(../img/cursor.svg), auto;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}

.toggle-min {
    left: 30px;
}

.toggle-max {
    right: 45px;
}

/*Fat*/

.fat-wrapper {
    width: 405px;
    padding: 0;
    margin: 0;
    border: none;
    margin-left: 15px;
}

.fat-list {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--hover-background-color);
    border-radius: 20px;
    box-sizing: border-box;
    height: 36px;
    padding: 7px 15px;
}

.fat-label {
    position: relative;
    cursor: url("../img/cursor.svg"), auto;
    margin-left: 25px;
}

.fat-label::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3.52px solid var(--transparent-color);
    box-sizing: border-box;
    position: absolute;
    margin-right: 11px;
    left: -25px;
    top: -2px; 
}

.fat-label:hover::before {
    border: 3.52px solid var(--basic-white);
}

.fat-label:hover::after {
    background-color: var(--basic-white);
}

.fat-label:after {
    content: "";
    display: none;
    width: 7.92px;
    height: 7.92px;
    background-color: var(--transparent-color);
    border-radius: 50%;
    position: absolute;
    left: -18px;
    top: 4.9px;
}

.fat-radio:checked + .fat-label:after {
    display: block;
}

.fat-radio:disabled + .fat-label::before {
    opacity: 0.4;
    cursor: default;
}

.fat-radio:disabled + .fat-label:after {
    opacity: 0.4;
    cursor: default;
}

/*Filler*/

.filler-wrapper {
    width: 714px;
    border: none;
}

.filler-list {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--hover-background-color);
    border-radius: 20px;
    height: 36px;
    margin-top: 0;
}

.filler-item {
    margin-top: 6.5px;
}

.filler-label {
    display: block;
    position: relative; 
    cursor: url("../img/cursor.svg"), auto;
    padding-top: 1px;
    cursor: url("../img/cursor.svg"), auto;
}

.filler-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
    padding-left: 50px;
}

.filler-check-on {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-right: 12px;
    left: 20px;
    top: 1.5px; 
    opacity: 0.8;
    fill: var(--basic-white);
    display: none;
}

.filler-check-off {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-right: 12px;
    left: 20px;
    top: 1.5px; 
    opacity: 0.8;
    fill: var(--basic-white);
    display: none;
}

.filler-radio ~ .filler-check-off {
    display: block;
}

.filler-radio:checked ~ .filler-check-on {
    display: block;
}

.filler-radio:checked ~ .filler-check-off {
    display: none;
}

.filler-label:hover .filler-check-off,
.filler-label:hover .filler-check-on {
    opacity: 1;
}

.filler-radio:disabled .filler-check-off,
.filler-radio:disabled .filler-check-on {
    opacity: 0.4;
    cursor: default;
}

/*Catalog button*/

.filter-button {
    width: 146px;
    height: 36px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    font-weight: 500;
    border: 2px solid #FFFFFF;
    cursor: url("../img/cursor.svg"), auto;
}

.filter-button:hover {
    color: black;
    background: #FFFFFF;
}

.filter-button:focus {
    color: black;
    background: #EDEDED;
    box-shadow: inset 0px 2px 1px #696969;
    border: none;
}

.filter-button-wrapper {
    margin-top: 20px;
    margin-left: 5px;
}

/*Products*/

.products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-hit {
    margin-top: 50px;
}

/*Pagination*/

.pagination-list {
    list-style-type: none;
    margin-bottom: 35px;
    margin-top: 87px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.pagination-item {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.pagination-item:hover {
    background-color: var(--hover-background-color);
}

.pagination-item-current {
    background-color: var(--basic-white);
}

.pagination-item-current a {
    color: black;
}

.pagination-link {
    margin: 0 auto;
    text-decoration: none;
}

.pagination-previous-page {
    margin-right: 15px;
    margin-top: 4px;
}

.pagination-next-page {
    margin-top: 4.5px;
    margin-left: 9px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.pagination-inactive {
    fill: var(--hover-background-color);
}

.pagination-active {
    fill: var(--basic-white);
}