@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
}

:root {
    --basic-white: #ffffff;
    --basic-black: #323232;
    --postal-color: #5A5A5A;
    --placeholder-color: #999999;
    --first-background-color: #849D8F;
    --second-background-color: #8996A6;
    --third-background-color: #9D8B84;
    --btn-gradient-first-color: #F26843;
    --btn-gradient-second-color: #E74A35;
    --feedback-form-background-color: #FEFEFE;
    --form-background-color: #F8F7F4;
    --hover-background-color: rgba(255, 255, 255, 0.2);
    --link-hover-color: #E84D37;
    --product-price-color: #ABABAB;
    --btn-apply-shadow-active-color: #696969;
    --menu-hover-background-color: #FBDED7;
    --menu-active-background-color: #F6B5A5;
    --site-nav-item-active-color: #EDEDED;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --horizontal-line-color: rgba(50, 50, 50, 0.2);
    --transparent-color: rgba(255, 255, 255, 0.8);
    --btn-shadow-color: rgba(172, 16, 0, 0.64);
    --btn-hover-background-color: rgba(255, 255, 255, 0.4);
    --hover-link-color: #FFBC9E;
    --basket-horizontal-line-background-color: #CACAC7;
    --page-active-background-color: #D07058;
    --input-border-color: rgba(178, 178, 178, 0.52);
    --input-border-focus-color: rgba(46, 136, 228, 0.52);
    --btn-text-shadow-color: rgba(160, 32, 11, 0.76);
    --feedback-modal-window-background-color: rgba(0,0,0,0.5);
    --product-price-filter-scale-background-color: rgba(248, 247, 244, 0.5);
    --btn-exit-background-color: #231F20;
    --icon-arrow-background-color: #ECF1EE;
    --menu-shadow-color: rgba(0, 0, 0, 0.4);
    --promotion-first-background-color: #8B0000;
    --promotion-second-background-color: #8B4513;
    --features-background-color: #FFDEAD;
    --underline-hover-color: rgba(255, 188, 158, 0.3);
    --underline-link-form-color: rgba(50, 50, 50, 0.3);
    --btn-shadow-active-color: rgba(0, 0, 0, 0.07)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus-visible{
    outline-style: solid;
    outline-color: var(--btn-gradient-second-color);
    outline-width: 2px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Main*/

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-white);
    min-height: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: var(--first-background-color);
    background-position: top center;
}

.list {
    list-style-type: none;
    padding: 0;
}

.page-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.button {
    cursor: url("../img/cursor.svg"), auto;
    border: none;
    background: -webkit-linear-gradient(180deg, var(--btn-gradient-first-color) 0%, var(--btn-gradient-second-color) 100%);
    font-weight: 700;
    border-radius: 70px;
    box-shadow: 0 2px 2px var(--btn-shadow-color);
    color: var(--basic-white);
    text-shadow: 0 2px 5px var(--btn-text-shadow-color);
    text-decoration: none;
}

.button:hover {
    background: -webkit-linear-gradient(0deg, var(--hover-background-color), var(--hover-background-color)),
    -webkit-linear-gradient(180deg, var(--btn-gradient-first-color) 0%, var(--btn-gradient-second-color) 100%);
}

.button:active {
    background: -webkit-linear-gradient(0deg, var(--btn-shadow-active-color), var(--btn-shadow-active-color)),
    -webkit-linear-gradient(180deg, var(--btn-gradient-first-color) 0%, var(--btn-gradient-second-color) 100%);
    box-shadow: inset 0 2px 2px var(--btn-shadow-color);
}

.button:focus{
    outline: none;
}

.button:focus-visible{
    outline-style: solid;
    outline-color: var(--btn-gradient-second-color);
    outline-width: 2px;
}

a {
    color: var(--basic-white);
    cursor: url("../img/cursor.svg"), auto;
    text-decoration: none;
}

/*Header*/

.main-header {
    position: relative;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 156px 379px auto;
    column-gap: 25px;
}

.logo {
    margin-top: 10px;
    min-width: 154px;
    min-height: 64px;
}

.main-nav-list {
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-nav-list a {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    height: 31px;
    display: block;
    box-sizing: border-box;
    border-radius: 26px;
    text-decoration-color:  var(--hover-background-color);
    text-underline-position: under;
    padding: 5px 13px 10px;
}

.main-nav-list:hover a {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.main-nav-list:active a {
    background-color: var(--site-nav-item-active-color);
    box-shadow: inset 0 2px 1px;
}

.user-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.user-nav-item {
    margin-top: 29px;
    margin-right: 40px;
}

.user-nav-item:last-of-type {
    margin-right: 0;
}
