@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
}

:root {
    --basic-white: #ffffff;
    --basic-black: #323232;
    --postal-color: #5A5A5A;
    --placeholder-color: #999999;
    --first-background-color: #849D8F;
    --second-background-color: #8996A6;
    --third-background-color: #9D8B84;
    --btn-gradient-first-color: #F26843;
    --btn-gradient-second-color: #E74A35;
    --feedback-form-background-color: #FEFEFE;
    --form-background-color: #F8F7F4;
    --hover-background-color: rgba(255, 255, 255, 0.2);
    --link-hover-color: #E84D37;
    --product-price-color: #ABABAB;
    --btn-apply-shadow-active-color: #696969;
    --menu-hover-background-color: #FBDED7;
    --menu-active-background-color: #F6B5A5;
    --site-nav-item-active-color: #EDEDED;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --horizontal-line-color: rgba(50, 50, 50, 0.2);
    --transparent-color: rgba(255, 255, 255, 0.8);
    --btn-shadow-color: rgba(172, 16, 0, 0.64);
    --btn-hover-background-color: rgba(255, 255, 255, 0.4);
    --hover-link-color: #FFBC9E;
    --basket-horizontal-line-background-color: #CACAC7;
    --page-active-background-color: #D07058;
    --input-border-color: rgba(178, 178, 178, 0.52);
    --input-border-focus-color: rgba(46, 136, 228, 0.52);
    --btn-text-shadow-color: rgba(160, 32, 11, 0.76);
    --feedback-modal-window-background-color: rgba(0,0,0,0.5);
    --product-price-filter-scale-background-color: rgba(248, 247, 244, 0.5);
    --btn-exit-background-color: #231F20;
    --icon-arrow-background-color: #ECF1EE;
    --menu-shadow-color: rgba(0, 0, 0, 0.4);
    --promotion-first-background-color: #8B0000;
    --promotion-second-background-color: #8B4513;
    --features-background-color: #FFDEAD;
    --underline-hover-color: rgba(255, 188, 158, 0.3);
    --underline-link-form-color: rgba(50, 50, 50, 0.3);
    --btn-shadow-active-color: rgba(0, 0, 0, 0.07)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus-visible{
    outline-style: solid;
    outline-color: var(--btn-gradient-second-color);
    outline-width: 2px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Main*/

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-white);
    min-height: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: var(--first-background-color);
    background-position: top center;
}

.list {
    list-style-type: none;
    padding: 0;
}

.page-body {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.button {
    cursor: url("../img/cursor.svg"), auto;
    background: -webkit-linear-gradient(180deg, var(--btn-gradient-first-color) 0%, var(--btn-gradient-second-color) 100%);
    font-weight: 700;
    border-radius: 70px;
    mix-blend-mode: normal;
    box-shadow: 0px 2px 2px var(--btn-shadow-color);
    color: var(--basic-white);
    text-shadow: 0 2px 5px var(--btn-text-shadow-color);
    border: none;
    text-decoration: none;
}

.button:hover {
    background: -webkit-linear-gradient(0deg, var(--hover-background-color), var(--hover-background-color)),
    -webkit-linear-gradient(180deg, var(--btn-gradient-first-color) 0%, var(--btn-gradient-second-color) 100%);
}

.button:active {
    background: -webkit-linear-gradient(0deg, var(--btn-shadow-active-color), var(--btn-shadow-active-color)),
    -webkit-linear-gradient(180deg, var(--btn-gradient-first-color) 0%, var(--btn-gradient-second-color) 100%);
    box-shadow: inset 0 2px 2px var(--btn-shadow-color);
}

.button:focus{
    outline: none;
}

.button:focus-visible{
    outline-style: solid;
    outline-color: var(--btn-gradient-second-color);
    outline-width: 2px;
}

a {
    color: var(--basic-white);
    cursor: url("../img/cursor.svg"), auto;
    text-decoration: none;
}

p {
    color: #323232;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
}

/*Header*/

.main-header {
    position: relative;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 156px 379px auto;
    column-gap: 25px;
}

.logo {
    margin-top: 10px;
    min-width: 154px;
    min-height: 64px;
}

/*Site nav*/

.main-nav-list {
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-nav-item a {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    height: 31px;
    display: block;
    box-sizing: border-box;
    border-radius: 26px;
    text-decoration-color:  var(--hover-background-color);
    text-underline-position: under;
    padding: 5px 13px 10px;
}

.main-nav-item:hover a {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.main-nav-item:active a {
    background-color: var(--site-nav-item-active-color);
    box-shadow: inset 0 2px 1px;
}

.menu-wrap {
    width: 87px;
}

/*Menu list*/

.menu-list {
    list-style-type: none;
    display: none;
    margin-top: 5px;
    margin-left: -8px;
    box-shadow: 0 20px 20px var(--menu-shadow-color);
    width: 143px;
    background-color: var(--basic-white);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 0;
    position: absolute;
}

.menu-wrap:hover .menu-list {
    display: block;
}

.menu-item {
    width: 100%;
    height: 27px;
    z-index: 1000;
    padding: 4px 4px 4px 0;
    box-sizing: border-box;
}

.menu-item:not(:first-child) {
    margin-top: 5px;
}
.menu-item:hover {
    background-color: var(--menu-hover-background-color);
}

.menu-item:active {
    background-color: var(--menu-active-background-color);
}

.menu-link {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 16px;
    margin-left: 21px;
    height: 27px;
    text-decoration: none; 
    display: block;
}

.menu-item:hover .menu-link {
    color: var(--basic-black);
}

.menu-news-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.menu-horizontal-line {
    margin-top: 5px;
    height: 1px;
    background-color: var(--horizontal-line-color);
    width: 128px;
    margin-top: 5px;
    margin-left: 6px;
}

/*Buttons nav*/

.user-nav {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    min-width: 244px;
}

.search-link,
.autorization-link,
.basket-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--hover-background-color);
    position: relative;
}

.search-link:hover,
.autorization-link:hover,
.basket-link:hover{
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.search-icon,
.autorization-icon,
.basket-icon {
    fill: var(--basic-white);
}

.search-form-wrap,
.autorization-form-wrap {
    animation: bounce 0.8s;
    background-color: var(--form-background-color);
    box-shadow: 0 20px 20px var(--shadow-color);
    border-radius: 4px;
}

.search-wrap:hover .search-link,
.autorization-wrap:hover .autorization-link {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.autorization-wrap:hover .autorization-icon,
.search-wrap:hover .search-icon {
    fill: var(--basic-black);
}

.autorization-form input,
.search-form input {
    background-color: var(--basic-white);
    border: 1px solid var(--input-border-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    font-style: normal;
    color: #999999;
    padding: 15px;
}

.autorization-form input:focus,
.search-form input:focus {
    border: 2px solid var(--input-border-focus-color);
    outline: none;
    padding: 14px;
}

.autorization-icon,
.basket-icon {
    position: absolute;
    top: 6px;
    left: 16px;
}

/*Search*/

.search-wrap {
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    box-sizing: initial;
}

.search-link {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block;
}

.search-icon {
    position: absolute;
    top: 9px;
    left: 9px;
}

.search-form-wrap {
    position: absolute;
    top: 75px;
    left: 540px;
    display: none;
    z-index: 100;
    padding: 20px 15px; 
    box-sizing: border-box;
}

.search-wrap:hover .search-form-wrap {
    display: block;
}

.search-input {
    width: 311px;
    height: 44px;
}

/*Authorization (lol i've made a mistake)*/

.autorization-wrap {
    width: 96px;
    height: 35px;
    padding-bottom: 5px;
    box-sizing: initial;
    margin-left: 10px;
}

.autorization-link {
    height: 35px;
    border-radius: 20px;
    display: block;
    padding-top: 8px;
    padding-left: 45px;
    box-sizing: border-box;
}

.autorization-form-wrap {
    width: 280px;
    height: 217px;
    z-index: 100;
    padding-left: 19px;
    padding-right: 17px;
    box-sizing: border-box;
    position: absolute;
    top: 76px;
    left: 786px;
    display: none;
}

.autorization-wrap:hover .autorization-form-wrap {
    display: block;
}

.autorization-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.autorization-links {
    width: 119px;
}

.autorization-button {
    width: 105px;
    height: 48px;
}

.autorization-links a {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 185%;
    color: #323232;
    text-decoration: underline;
}

.autorization-links a:hover {
    color: var(--hover-link-color);
    text-decoration-color: var(--underline-hover-color);
}
.autorization-login-input,
.autorization-password-input {
    width: 241px;
    height: 44px;
    margin-top: 20px;
}

.autorization-login-input:focus,
.autorization-password-input:focus {
    outline: none;
    font-weight: 700;
}

/*Basket*/

.basket-wrap {
    width: 103px;
    height: 35px;
    padding-bottom: 5px;
    box-sizing: initial;
    margin-left: 10px;
}

.basket-link {
    height: 35px;
    border-radius: 20px;
    display: block;
    padding-top: 8px;
    padding-left: 45px;
    box-sizing: border-box;
}

/*Working info*/

.working_info {
    width: 100%;
    display: grid;
    justify-content: end;
    text-align: end;
    row-gap: 5px;
}

.working_hours {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    color: #FFFFFF;
    margin-bottom: 0%;
}

.working_phone {
    font-weight: 700;
    font-size: 22px;
    line-height: 109%;
    color: #FFFFFF;
    margin-top: 0%;
}

/*Main*/

.index-wrapper {
    display: grid;
    row-gap: 40px;
    margin-bottom: 40px;
}

/*Slider*/

.slider-section {
    position: relative;
    text-align: center;
}

.slider-section p {
    font-weight: 700;
    font-size: 60px;
    line-height: 101%;
    color: #FFFFFF;
    text-align: center;
    width: 672px;
    margin: 271px auto 0;
}

.slider-button {
    width: 261px;
    height: 62px;
    padding: 7px 13px;
    font-size: 35px;
    line-height: 44px;
    box-sizing: border-box;
    margin-top: 31px;
    margin-left: -18px;
    display: inline-block;
    vertical-align: center;
}

.slider {
    display: none;
}

.slider-current {
    display: block;
}

.slider-controls {
    position: absolute;
    bottom: 21px;
    z-index: 100;
    display: flex;
    width: 79px;
    justify-content: space-between;
}

.slider-controls-button {
    cursor: url("../img/cursor.svg"), auto;
    padding: 0;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 2.5px solid #ffffff;
    background-color: transparent;
}

.slider-controls .current {
    background-color: var(--basic-white);
}

.slider-controls-button:hover {
    background-color: var(--btn-hover-background-color);
}

.slider-controls-button:active {
    background-color: var(--basic-white);
}

.slider-controls-button:focus{
    outline: none;
}

.slider-controls-button:focus-visible{
    outline-style: solid;
    outline-color: var(--btn-gradient-second-color);
    outline-width: 2px;
}

/*Promo*/

.promo-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}

.raspberry {
    width: 560px;
    height: 229px;
    background-color: var(--promotion-first-background-color);
    background-image: url("../img/index/crimson_background.jpg");
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 6px 22px 22px 16px;
    box-sizing: border-box;
    background-size: cover;
    background-position: top;
}

.promo-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    margin-top: 0;
}

.promo-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 16px 0 0;
}

.promo-button {
    margin-top: 42px;
    width: 164px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 22px;
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
}

.chocolate {
    width: 560px;
    height: 229px;
    background-image: url("../img/index/chocolate_background.jpg");
    background-color: var(--promotion-second-background-color);    
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 6px 22px 22px 16px;
    box-sizing: border-box;
    background-size: cover;
    background-position: top;
}

